body {
  height: 100vh;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 0 10px;
}

.dispContainer {
  margin-bottom: 10px;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  gap: 20px;
}

.buttonContainer {
  margin-top: 10px;
}

.outputTable {
  border: 2px solid #111;
  border-collapse: collapse;
}

th, td {
  padding: 10px 10px;
  border: 1px solid #111;
}

.resultCell {
  width: 400px;
  padding: 0;
}

.dispBox {
  height: 300px;
  aspect-ratio: 16 / 9;
  border: 1px solid #111;
  /* ::beforeの中央揃え */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dispBox img, .dispBox canvas {
  max-width: 100%;
}

#dispInput:empty::before {
  content: "画像を選択してください";
}

#dispOutput:empty::before {
  content: "処理を実行してください";
}